{
  "openapi": "3.0.3",
  "info": {
    "title": "Adobe Photoshop API",
    "description": "This is the comprehesive reference for the Adobe Photoshop API, including all available API endpoints, request formats, parameters, authentication requirements, and example responses to use when integrating with or building on top of our APIs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://image.adobe.io",
      "description": "Adobe Photoshop Production",
      "variables": {}
    }
  ],
  "tags": [
    {
      "name": "Common operations",
      "description": "General Photoshop API operations and utilities"
    },
    {
      "name": "Masking",
      "description": "Operations for creating and manipulating masks"
    },
    {
      "name": "Remove background",
      "description": "AI-powered background removal and subject isolation operations"
    },
    {
      "name": "actionJSON",
      "description": "Operations for working with Photoshop actions in JSON format"
    },
    {
      "name": "Get status",
      "description": "Utility endpoints for checking job status and system health"
    }
  ],
  "paths": {
    "/sensei/status/{jobId}": {
      "get": {
        "tags": [
          "Get status"
        ],
        "summary": "Get status - mask",
        "description": "This endpoint returns the status of a job for a Remove Background and Create Mask operation. The schema of a 200 response varies depending on the status of the job.",
        "operationId": "senseiJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job status",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SenseiJobApiResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/sensei/cutout": {
      "post": {
        "tags": [
          "Remove background"
        ],
        "summary": "Remove background v1 (Deprecated)",
        "description":  "⚠️ **DEPRECATED**: This endpoint is deprecated and will no longer be accessible after Oct 15, 2025. Use `/v2/remove-background` instead. For more information, see the [Deprecation Announcement](https://developer.adobe.com/firefly-services/docs/photoshop/getting_started/deprecation_announcement/). This endpoint will identify the main subject of your image and removes the background automatically. It also provides options to return a PNG file in 4 channel RGBA or 3 channel RGB format. To check the status of this process, utilize the `Get Status - Mask` endpoint.",
        "operationId": "removeBackgroundAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input image and the cutout mask parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "headers": {
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              },
              "X-Access-Error": {
                "$ref": "#/components/headers/X-Access-Error"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
            "X-Access-Rate-Limit-Level": {
              "$ref": "#/components/headers/X-Access-Rate-Limit-Level"
              }
            },
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/remove-background": {
      "post": {
        "tags": [
          "Remove background"
        ],
        "operationId": "removeBackground",
        "summary": "Remove background v2",
        "description": "This endpoint allows you to remove the background from an image. The request is processed asynchronously and the status of the running job can be checked with the Get Status endpoint.",
        "x-ffs-async-job": true,
        "x-ffs-job-status-fetcher": "facadeJobStatus",
        "parameters": [
          {
            "name": "Authorization",
            "description": "The bearer token for the user. This is the access token.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-api-key",
            "description": "The API key/Client ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "description": "The content type of the request. The value is `application/json`.",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveBackgroundV2Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLinkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                },
                "examples": {
                  "unauthorized": {
                    "value": {
                      "error_code": "unauthorized",
                      "message": "User is not entitled to perform the requested operation."
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                },
                "examples": {
                  "access_error": {
                    "value": {
                      "error_code": "access_error",
                      "message": "User is not entitled to perform the requested operation."
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                },
                "examples": {
                  "rate_limited": {
                    "value": {
                      "error_code": "rate_limited",
                      "message": "Too many requests."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                },
                "examples": {
                  "runtime_error": {
                    "value": {
                      "error_code": "runtime_error",
                      "message": "Internal Server Error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/status/{jobId}": {
      "get": {
        "operationId": "facadeJobStatus",
        "tags": [
          "Get status",
          "Remove background"
        ],
        "summary": "Get status - v2",
        "description": "Retrieve the status of a running Remove Background job by providing the job ID. The job ID is obtained from the response of the asynchronous Remove Background API call.",
        "x-ffs-status-fetcher": true,
        "x-ffs-job-name": "FacadeAsyncJob",
        "parameters": [
          {
            "name": "jobId",
            "required": true,
            "in": "path",
            "description": "The job ID from the response of the Remove Background API call.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JobStatusPollPayload"
                    },
                    {
                      "$ref": "#/components/schemas/JobStatusSucceededResponse"
                    }
                  ]
                },
                "examples": {
                  "pending": {
                    "summary": "Job Pending",
                    "value": {
                      "status": "pending",
                      "jobId": "urn:ff:jobs:eso851243:8d25eb96-bb4e-48cb-9656-3350ce1e29c7"
                    }
                  },
                  "running": {
                    "summary": "Job Running",
                    "value": {
                      "status": "running",
                      "jobId": "urn:ff:jobs:eso851243:8d25eb96-bb4e-48cb-9656-3350ce1e29c7"
                    }
                  },
                  "succeeded": {
                    "summary": "Job Succeeded",
                    "value": {
                      "status": "succeeded",
                      "jobId": "urn:ff:jobs:eso851243:8d25eb96-bb4e-48cb-9656-3350ce1e29c7",
                      "result": {
                        "outputs": [
                          {
                            "destination": {
                              "url": "<OUTPUT_URL>"
                            },
                            "mediaType": "image/png"
                          }
                        ]
                      }
                    }
                  },
                  "failed": {
                    "summary": "Job Failed",
                    "value": {
                      "status": "failed",
                      "jobId": "urn:ff:jobs:eso851243:8d25eb96-bb4e-48cb-9656-3350ce1e29c7"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        }
      }
    },
    "/sensei/mask": {
      "post": {
        "tags": [
          "Masking"
        ],
        "summary": "Create mask",
        "description": "⚠️ **DEPRECATED**: This endpoint is deprecated and will no longer be accessible after Oct 15, 2025. Use `/v2/remove-background` instead. For more information, see the [Deprecation Announcement](https://developer.adobe.com/firefly-services/docs/photoshop/getting_started/deprecation_announcement/).This endpoint uses the Remove Background AI/ML model to return a PNG file with a mask applied around the subject. To check the status of this process, utilize the `Get Status - Mask` endpoint.",
        "operationId": "createMaskAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input image and the mask parameters",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMaskRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Unauthorized",
            "headers": {
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              },
              "X-Access-Error": {
                "$ref": "#/components/headers/X-Access-Error"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
            "X-Access-Rate-Limit-Level": {
              "$ref": "#/components/headers/X-Access-Rate-Limit-Level"
              }
            },
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/pie/psdService/status/{jobId}": {
      "get": {
        "tags": [
          "Get status"
        ],
        "summary": "Get status",
        "description": "Get the job status of a Photoshop job.",
        "operationId": "psJobStatus",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "description": "The job ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job Status",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PsJobResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/documentManifest": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Extract document manifest",
        "description": "Extract metadata from PSD document, including general file and layer information.",
        "operationId": "getDocumentManifestAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The PSD file with the layer information you want to extract.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DocumentManifestRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/documentCreate": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Create PSD",
        "description": "Create new PSD with layers.",
        "operationId": "createDocumentAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input psd file to create a new psd from",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/documentOperations": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Apply photoshop edits",
        "description": "Apply basic layer edits (name, state, etc.), add/edit adjustment, pixel, and shape layers.",
        "operationId": "modifyDocumentAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input psd file to apply edits to and generate renditions and/or save as a new psd",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyDocumentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/renditionCreate": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Create renditions",
        "description": "Create flat image representations of a PSD in multiple formats.",
        "operationId": "createRenditionAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input psd file to create renditions from",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRenditionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/smartObject": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Replace smart object",
        "description": "Replace Smart Object in a PSD.",
        "operationId": "replaceSmartObjectAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input psd file to apply edits for replacing embedded smart object to and generate renditions and/or save as a new psd",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplaceSmartObjectRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/photoshopActions": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Run photoshop actions",
        "description": "Executes Photoshop Action file against a PSD, JPEG, PNG, or TIFF.",
        "operationId": "playPhotoshopActionsAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input file to apply Photoshop Actions to and generate renditions and/or save as a new image",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayPhotoshopActionsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/actionJSON": {
      "post": {
        "tags": [
          "actionJSON"
        ],
        "summary": "Run actionJSON",
        "description": "Execute given Photoshop Action specified in actionJSON format.",
        "operationId": "playPhotoshopActionsJsonAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input psd file to apply Photoshop actionJSON to and generate renditions and/or save as a new image",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlayPhotoshopActionsJsonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
            "X-Access-Rate-Limit-Level": {
              "$ref": "#/components/headers/X-Access-Rate-Limit-Level"
              }
            },
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/actionJsonCreate": {
      "post": {
        "tags": [
          "actionJSON"
        ],
        "summary": "Convert to actionJSON",
        "description": "Convert an ATN file to actionJSON format.",
        "operationId": "convertToActionsJsonAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input ATN file to convert to actionJSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConvertToActionsJsonRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/productCrop": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Product crop",
        "description": "This endpoint identifies the subject of the input file and automatically crops the image to keep the subject in the center. Check the status of this process with the `Get Status` endpoint.",
        "operationId": "applyAutoCropAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input image to apply product crop to.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyAutoCropRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
            "X-Access-Rate-Limit-Level": {
              "$ref": "#/components/headers/X-Access-Rate-Limit-Level"
              }
            },
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/depthBlur": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Depth blur",
        "description": "Apply depth blur to an image input.",
        "operationId": "applyDepthBlurAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input image to apply depth blur to.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApplyDepthBlurRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
            "X-Access-Rate-Limit-Level": {
              "$ref": "#/components/headers/X-Access-Rate-Limit-Level"
              }
            },
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/text": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Edit text layer",
        "description": "Change the contents of a text layer in a PSD, e.g. for localization.",
        "operationId": "editTextLayerAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input text to be edited.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditTextLayerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "headers": {
            "X-Access-Rate-Limit-Level": {
              "$ref": "#/components/headers/X-Access-Rate-Limit-Level"
              }
            },
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/pie/psdService/artboardCreate": {
      "post": {
        "tags": ["Common operations"],
        "summary": "Create artboards",
        "description": "Create artboards from multiple PSD inputs.",
        "operationId": "createArtboardAsync",
        "parameters": [
          {
            "name": "x-gw-ims-org-id",
            "in": "header",
            "description": "The IMS organization ID. This only needs to be sent if you want to receive the job status through Adobe I/O Events",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The input artboard to be created.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateArtboardRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "success",
            "headers": {
              "X-Access-Consumption-Status": {
                "$ref": "#/components/headers/X-Access-Consumption-Status"
              },
              "X-Access-Applied-Until-Date": {
                "$ref": "#/components/headers/X-Access-Applied-Until-Date"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobStatusLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Input Validation Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "402": {
            "description": "Trial Limit Exceeded Error",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrialLimitExceededError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "404": {
            "description": "Requested Resource Was Not Found",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "409": {
            "description": "Unable to upload asset",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "410": {
            "description": "Asset Link Invalid",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "headers": {},
            "content": {
              "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v1/mask-objects": {
      "post": {
        "tags": [
          "Masking"
        ],
        "operationId": "maskObjects",
        "summary": "Generate object and background masks",
        "description": "Given an image, this API generates semantic masks for the foreground objects and a list of background masks that segment the background elements of the image. Each mask includes a label and a URL for the mask image. To check the status of this process, utilize the `Get Status - V1` endpoint.",
        "x-ffs-async-job": true,
        "x-ffs-job-status-fetcher": "facadeJobStatus",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaskObjectsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/mask-body-parts": {
      "post": {
        "tags": [
          "Masking"
        ],
        "operationId": "maskBodyParts",
        "summary": "Generate human item masks",
        "description": "This endpoint processes an input image of a human, then identifies and creates masks for various items and sections on the body including sunglasses, hats, upper body apparel, lower body apparel, left arm, right arm, and more. The API returns an array of masks corresponding to each detected item and body part. To check the status of this process, utilize the `Get Status - V1` endpoint.",
        "x-ffs-async-job": true,
        "x-ffs-job-status-fetcher": "facadeJobStatus",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MaskBodyPartsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/refine-mask": {
      "post": {
        "tags": [
          "Masking"
        ],
        "operationId": "refineMask",
        "summary": "Refine mask",
        "description": "This endpoint allows you to refine and improve the quality of existing masks. The API will enhance the edges and details of the provided masks to create more precise and accurate results. To check the status of this process, utilize the `Get Status - V1` endpoint.",
        "x-ffs-async-job": true,
        "x-ffs-job-status-fetcher": "facadeJobStatus",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefineMaskRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/fill-masked-areas": {
      "post": {
        "tags": [
          "Masking"
        ],
        "operationId": "fillMaskedAreas",
        "summary": "Fill masked areas",
        "description": "This endpoint allows you to inpaint masked areas within an image. The API will remove the objects represented by these masks and inpaint the specified areas. Provide a list of masks corresponding to the regions you wish to modify. To check the status of this process, utilize the `Get Status - V1` endpoint.",
        "x-ffs-async-job": true,
        "x-ffs-job-status-fetcher": "facadeJobStatus",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FillMaskedAreasRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "404": {
            "description": "Resource Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InputValidationError"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/status/{jobId}": {
      "get": {
        "tags": [
          "Get status",
          "Masking"
        ],
        "operationId": "getJobStatus",
        "summary": "Get status - v1",
        "description": "This endpoint allows you to check the status of an asynchronous job for a masking operation. The schema of a 200 response varies depending on the status of the job. A job with a `succeeded` status will include the results in the response and the result objects vary depending on the operation.",
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The schema of a 200 response varies depending on the status of the job. A job with a `succeeded` status will include the results in the response. Result objects vary depending on the operation.",
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/JobStatusNotStarted"
                    },
                    {
                      "$ref": "#/components/schemas/JobStatusRunning"
                    },
                    {
                      "$ref": "#/components/schemas/JobStatusSucceeded"
                    },
                    {
                      "$ref": "#/components/schemas/JobStatusFailed"
                    }
                  ],
                  "discriminator": {
                    "propertyName": "status",
                    "mapping": {
                      "not_started": "#/components/schemas/JobStatusNotStarted",
                      "running": "#/components/schemas/JobStatusRunning",
                      "succeeded": "#/components/schemas/JobStatusSucceeded",
                      "failed": "#/components/schemas/JobStatusFailed"
                    }
                  }
                },
                "examples": {
                  "not_started": {
                    "summary": "Job has not started",
                    "value": {
                      "jobId": "12345678-1234-1234-1234-123456789012",
                      "status": "not_started"
                    }
                  },
                  "running": {
                    "summary": "Job is running",
                    "value": {
                      "jobId": "12345678-1234-1234-1234-123456789012",
                      "status": "running"
                    }
                  },
                  "succeeded": {
                    "summary": "Job completed successfully",
                    "value": {
                      "jobId": "12345678-1234-1234-1234-123456789012",
                      "status": "succeeded",
                      "semanticMasks": [
                        {
                          "mediaType": "image/png",
                          "destination": {
                            "url": "https://example.com/semantic-mask-1.png"
                          },
                          "label": "person",
                          "boundingBox": {
                            "x": 100,
                            "y": 150,
                            "width": 200,
                            "height": 300
                          },
                          "score": 0.95
                        },
                        {
                          "mediaType": "image/png",
                          "destination": {
                            "url": "https://example.com/semantic-mask-2.png"
                          },
                          "label": "car",
                          "boundingBox": {
                            "x": 400,
                            "y": 200,
                            "width": 150,
                            "height": 100
                          },
                          "score": 0.87
                        }
                      ],
                      "backgroundMasks": [
                        {
                          "mediaType": "image/png",
                          "destination": {
                            "url": "https://example.com/background-mask-1.png"
                          },
                          "label": "sky",
                          "boundingBox": {
                            "x": 0,
                            "y": 0,
                            "width": 800,
                            "height": 200
                          },
                          "score": 0.92
                        },
                        {
                          "mediaType": "image/png",
                          "destination": {
                            "url": "https://example.com/background-mask-2.png"
                          },
                          "label": "road",
                          "boundingBox": {
                            "x": 0,
                            "y": 400,
                            "width": 800,
                            "height": 200
                          },
                          "score": 0.89
                        }
                      ]
                    }
                  },
                  "failed": {
                    "summary": "Job failed",
                    "value": {
                      "jobId": "12345678-1234-1234-1234-123456789012",
                      "status": "failed",
                      "error_code": "processing_error",
                      "message": "Failed to process image due to invalid format"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "JobError": {
        "title": "JobError",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The error type."
          },
          "code": {
            "type": "string",
            "description": "The error code."
          },
          "title": {
            "type": "string",
            "description": "The error description."
          },
          "error_code": {
            "type": "string",
            "description": "The internal error code."
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ErrorDetails"
            },
            "description": "The details of the error returned."
          }
        },
        "description": "Any errors reported in the requested output."
      },
      "InputValidationError": {
        "title": "InputValidationError",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The error type."
          },
          "code": {
            "type": "string",
            "description": "The error code."
          },
          "title": {
            "type": "string",
            "description": "The error description."
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/InputValidationErrorDetail"
            },
            "description": "The details of the error returned."
          }
        },
        "description": "Any errors reported in the requested output."
      },
      "TrialLimitExceededError": {
        "title": "TrialLimitExceededError",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The error type."
          },
          "code": {
            "type": "string",
            "description": "The error code."
          },
          "title": {
            "type": "string",
            "description": "The error description."
          },
          "details": {
            "type": "string",
            "description": "The details of the error returned.",
            "default": "You have exceeded the limit for the free trial. To subscribe and get more API calls, check out our pricing page at https://developer.adobe.com/photoshop/api/pricing/"
          }
        },
        "description": "Any errors reported in the requested output."
      },
      "InputValidationErrorDetail": {
        "title": "InputValidationErrorDetail",
        "type": "object",
        "properties": {
          "allowedValues": {
            "type": "string",
            "description": "The name of the input parameter.",
            "default": "adobe, external, dropbox, azure"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the error."
          }
        },
        "description": "Details of the input validation error returned."
      },
      "StorageDetails": {
        "title": "StorageDetails",
        "type": "object",
        "required": [
          "href",
          "storage"
        ],
        "properties": {
          "href": {
            "type": "string",
            "description": "A pre-signed GET URL."
          },
          "storage": {
            "$ref": "#/components/schemas/StorageType"
          }
        },
        "description": "A file located on Adobe's cloud or a supported external service."
      },
      "SenseiColor": {
        "title": "SenseiColor",
        "type": "object",
        "properties": {
          "space": {
            "$ref": "#/components/schemas/ColorSpaceType"
          }
        },
        "description": "Color space for output image"
      },
      "ColorSpaceType": {
        "title": "ColorSpaceType",
        "type": "string",
        "enum": [
          "rgb",
          "rgba"
        ],
        "description": "Color space for output image"
      },
      "SenseiOutputDetails": {
        "title": "SenseiOutputDetails",
        "type": "object",
        "required": [
          "href",
          "storage"
        ],
        "properties": {
          "href": {
            "type": "string",
            "description": "A pre-signed POST URL to the output file."
          },
          "storage": {
            "$ref": "#/components/schemas/StorageType"
          },
          "mask": {
            "$ref": "#/components/schemas/MaskFormat"
          },
          "color": {
            "$ref": "#/components/schemas/SenseiColor"
          },
          "overwrite": {
            "type": "boolean",
            "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage.",
            "default": true
          }
        },
        "description": "A PNG file."
      },
      "SenseiJobApiResponse": {
        "title": "SenseiJobApiResponse",
        "type": "object",
        "properties": {
          "jobId": {
            "type": "string",
            "description": "The job ID requested."
          },
          "created": {
            "type": "string",
            "description": "Created timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ)."
          },
          "modified": {
            "type": "string",
            "description": "Modified timestamp of the job (YYYY-DD-MMThh:mm:ss.mmmmmZ)."
          },
          "status": {
            "$ref": "#/components/schemas/JobStatus"
          },
          "output": {
            "$ref": "#/components/schemas/SenseiOutputDetails"
          },
          "errors": {
            "$ref": "#/components/schemas/JobError"
          },
          "_links": {
            "$ref": "#/components/schemas/JobStatusLink"
          }
        }
      },
      "JobStatusLink": {
        "title": "JobStatusLink",
        "type": "object",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/SelfLink"
          }
        }
      },
      "RemoveBackgroundRequest": {
        "title": "RemoveBackgroundRequest",
        "type": "object",
        "required": [
          "input",
          "output"
        ],
        "properties": {
          "input": {
            "$ref": "#/components/schemas/StorageDetails"
          },
          "output": {
            "$ref": "#/components/schemas/SenseiOutputDetails"
          }
        }
      },
      "CreateMaskRequest": {
        "title": "CreateMaskRequest",
        "type": "object",
        "required": [
          "input",
          "output"
        ],
        "properties": {
          "input": {
            "$ref": "#/components/schemas/StorageDetails"
          },
          "output": {
            "$ref": "#/components/schemas/SenseiOutputDetails"
          }
        }
      },
      "JobStatusLinkResponse": {
        "title": "JobStatusLinkResponse",
        "type": "object",
        "properties": {
          "_links": {
            "$ref": "#/components/schemas/JobStatusLink"
          }
        }
      },
      "IccProfileDetails": {
        "title": "IccProfileDetails",
        "type": "object",
        "properties": {
          "imageMode": {
            "$ref": "#/components/schemas/ImageModeType"
          },
          "input": {
            "$ref": "#/components/schemas/StorageDetails"
          },
          "profileName": {
            "$ref": "#/components/schemas/ColorProfileType"
          }
        }
      },
      "SmartObjectOutputDetails": {
        "title": "SmartObjectOutputDetails",
        "type": "object",
        "required": [
          "href",
          "storage",
          "type"
        ],
        "properties": {
          "href": {
            "type": "string",
            "description": "A pre-signed POST URL to the output file."
          },
          "storage": {
            "$ref": "#/components/schemas/StorageType"
          },
          "type": {
            "$ref": "#/components/schemas/ImageFormatType"
          },
          "overwrite": {
            "type": "boolean",
            "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage.",
            "default": true
          },
          "width": {
            "type": "integer",
            "description": "The width, in pixels, of the renditions. A width of 0 generates a full size rendition. Height is generated automatically using the aspect ratio. Only supported for image rendition.",
            "format": "int32",
            "default": 0
          },
          "quality": {
            "maximum": 7.0,
            "minimum": 1.0,
            "type": "integer",
            "description": "The quality of the renditions for JPEG. The range is 1 to 7, 7 being the highest quality.",
            "format": "int32",
            "default": 7
          },
          "compression": {
            "$ref": "#/components/schemas/CompressionType"
          }
        },
        "description": "An output object."
      },
      "ActionOutputDetails": {
        "title": "ActionOutputDetails",
        "type": "object",
        "required": [
          "href",
          "storage",
          "type"
        ],
        "properties": {
          "href": {
            "type": "string",
            "description": "A pre-signed POST URL to the output file."
          },
          "storage": {
            "$ref": "#/components/schemas/StorageType"
          },
          "type": {
            "$ref": "#/components/schemas/ImageFormatType"
          },
          "overwrite": {
            "type": "boolean",
            "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage.",
            "default": true
          },
          "quality": {
            "maximum": 12,
            "minimum": 1,
            "type": "integer",
            "description": "The quality of the renditions for JPEG. The range is 1 to 7, 7 being the highest quality.",
            "format": "int32",
            "default": 7
          },
          "compression": {
            "$ref": "#/components/schemas/CompressionType"
          }
        },
        "description": "An output object."
      },
      "PsOutputDetails": {
        "title": "PsOutputDetails",
        "type": "object",
        "required": [
          "href",
          "storage",
          "type"
        ],
        "properties": {
          "href": {
            "type": "string",
            "description": "A pre-signed POST URL to the output file."
          },
          "storage": {
            "$ref": "#/components/schemas/StorageType"
          },
          "type": {
            "$ref": "#/components/schemas/ImageFormatType"
          },
          "overwrite": {
            "type": "boolean",
            "description": "If the file already exists, indicates if the output file should be overwritten. Will eventually support eTags. Only applies to CC Storage.",
            "default": true
          },
          "width": {
            "type": "integer",
            "description": "The width, in pixels, of the renditions. A width of 0 generates a full size rendition. Height is generated automatically using the aspect ratio. Only supported for image rendition.",
            "format": "int32",
            "default": 0
          },
          "maxWidth": {
            "type": "integer",
            "description": "The size, in pixels, of the renditions. When width is 0, maxWidth can be provided to get the rendition size. maxWidth when less than document width gets precedence over width. Height is not necessary as the rendition generate will automatically maintain the aspect ratio.",
            "format": "int32",
            "default": 0
          },
          "quality": {
            "maximum": 7.0,
            "minimum": 1.0,
            "type": "integer",
            "description": "The quality of the renditions for JPEG. The range is 1 to 7, 7 being the highest quality.",
            "format": "int32",
            "default": 7
          },
          "compression": {
            "$ref": "#/components/schemas/CompressionType"
          },
          "trimToCanvas": {
            "$ref": "#/components/schemas/TrimToCanvasType"
          },
          "layers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LayerReference"
            },
            "description": "An array of layer objects.\nBy including this array you are signaling that you'd like a rendition created from these layer id's or layer names. Excluding it will generate a document-level rendition."
          },
          "iccProfile": {
            "$ref": "#/components/schemas/IccProfileDetails"
          }
        },
        "description": "An output object."
      },
      "RenditionLinkDetails": {
        "title": "RenditionLinkDetails",
        "type": "object",
        "properties": {
          "href": {
            "type": "string",
            "description": "The rendition location."
          },
          "storage": {
            "$ref": "#/components/schemas/StorageType"
          },
          "width": {
            "type": "integer",
            "description": "The requested rendition width in pixels.",
            "format": "int32"
          },
          "type": {
            "$ref": "#/components/schemas/ImageFormatType"
          }
        },
        "description": "A rendition object."
      },
      "ManifestJobApiResponse": {
        "title": "ManifestJobApiResponse",
        "type": "object",
[...]
